.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

img {
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
